html, body { width:100%;height:100%;padding:0;margin:0; }
        .spmc {display:inline-block;overflow:hidden;background:url(https://ssl.pstatic.net/static/maps/img/sp_mapctrl_high-fs8_v10.png) no-repeat;line-height:999px;vertical-align:top}
        .btn_clear{position:absolute;top:-16px;right:-16px;width:16px;height:16px;background-position:-144px -270px}